<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Feren_OS_DE_preview.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Feren_OS_DE_preview.My.MySettings>
            <setting name="KittenFoxHomepage" serializeAs="String">
                <value>http://kittenfoxspeeddial.weebly.com/</value>
            </setting>
            <setting name="UserFolder" serializeAs="String">
                <value>C:\Users\Dominic_2</value>
            </setting>
            <setting name="FirstRunKittenFox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KittenFoxStyle" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="NotepadWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotepadTextColour" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="NotepadFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="NotepadBackgroundColour" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="NotepadMainFrmSize" serializeAs="String">
                <value>350, 350</value>
            </setting>
            <setting name="DesktopBackground" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>User1</value>
            </setting>
            <setting name="DesktopBackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroColour" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="Userimage" serializeAs="String">
                <value />
            </setting>
            <setting name="DocsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PicsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VidsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstBootDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopBackLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="AntivirusTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="AntivirusMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="AntivirusDB" serializeAs="String">
                <value />
            </setting>
            <setting name="Look" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value />
            </setting>
            <setting name="AntivirusLiveProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Defenderon" serializeAs="String">
                <value>True</value>
            </setting>
        </Feren_OS_DE_preview.My.MySettings>
    </userSettings>
</configuration>
